/* BASIC STYLING */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --BG-red: #d95550;
  --container-red: #dd6864;
  --spare-red: #ca4e49;
  --font-colour: #f2f3f5;
}

/* GENERIC STYLING */

body {
  color: var(--font-colour);
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  padding: 3px;
  color: var(--font-colour);
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  margin-right: 1.5rem;
}

::placeholder {
  color: var(--font-colour);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.margin_bottom {
  margin-bottom: 1rem;
}

.margin_top {
  margin-top: 1rem;
}

/* SPECIFIC STYLING SMALL MOBILE */

.logo {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.underline {
  height: 0.5px;
  border: none;
  background-color: rgb(115, 112, 112);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 1rem;
}

.timer_container {
  margin: auto;
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
}

#countdown_timer {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 3px;
}

#user_tasks {
  margin: auto;
  width: 90%;
  height: 2.5rem;
  text-align: center;
  border: none;
  color: var(--font-colour);
  border-radius: 10px;
}

.new_todo {
  margin-bottom: 1rem;
}

.checked {
  opacity: 0.3;
  text-decoration: line-through;
}

 .toggle {
  margin-left: 2rem;
}

.remove {
  background-color: transparent;
}

/* TABLET MEDIA QUERY BREAKPOINT */

@media (min-width: 768px) {
  .timer_container {
    width: 50%;
    padding: 3rem;
  }

  #user_tasks {
    margin: auto;
    width: 50%;
  }
}

/* DESKTOP MEDIA QUERY BREAKPOINT */

@media (min-width: 1024px) {
  .timer_container {
    width: 40%;
  }

  #countdown_timer {
    font-size: 6rem;
  }

  #user_tasks {
    margin: auto;
    width: 40%;
  }
}
